.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e2e8f0;
    
}

.nav .left{

    display: flex;
    align-items: center;
    margin: 15px;
   

}


.nav .menu ul li a{

color: purple;
text-decoration: none;
padding: 50px;

}

.nav .menu ul li a:hover{

color: #000;


}

.nav .right{

    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;

}
